body{
    text-align: center;
    font-family: "Helvetica";
}

h1{
    font-size: 70px;
    font-weight: bold;
    color: white;
}

header{
    background-image: url(../img/the-flatiron-building.png)
}

a{
    font-size: 18px;
    color: white;
}

h2{
    font-size: 32px;
    font-weight: bold;
}

h3{
    font-size: 23px; 
    font-weight: bold;
}

p{
    font-size: 14px;
}

.break{
    background-image: url(../img/the-flatiron-building.png);
}

.break h2{
        font-size: 23px;
    font-weight: bold;
    color: white;
}

footer{
    text-align: left;
    font-size: 11px;
    color: white;
    background-color: dimgray;
}
